<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 控制台输出  -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} %L %M- %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>

        <springProfile name="!prod">
            <remoteHost>172.31.6.80</remoteHost>
        </springProfile>

        <springProfile name="prod">
            <remoteHost>172.31.6.80</remoteHost>
        </springProfile>

        <port>4567</port>
        <!-- encoder is required -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <springProfile name="dev">
                <customFields>{"service_name":"dev-coin-wallet"}</customFields>
            </springProfile>
            <springProfile name="test">
                <customFields>{"service_name":"test-coin-wallet"}</customFields>
            </springProfile>
            <springProfile name="release">
                <customFields>{"service_name":"release-coin-wallet"}</customFields>
            </springProfile>
            <springProfile name="prod">
                <customFields>{"service_name":"prod-coin-wallet"}</customFields>
            </springProfile>
        </encoder>

        <keepAliveDuration>5 minutes</keepAliveDuration>
    </appender>

    <springProfile name="default">
        <root level="info">
            <appender-ref ref="stdout"/>
        </root>
    </springProfile>

    <springProfile name="!default">
        <root level="warn">
            <appender-ref ref="stash"/>
        </root>
    </springProfile>
</configuration>